# Unreal Engine — gegenereerde / lokale mappen (niet versiebeheren)
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio / projectbestanden (worden geregenereerd uit .uproject)
*.sln
*.suo
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
.vsconfig
UpgradeLog.htm

# Editor-backups
Backup/
/_AssetStaging/
*.rar
/Content/_Project/1x1/

# Grote character-asset-packs + RARs (niet naar git -> te groot voor GitHub)
/Content/KPOP_Lola/
/Content/Casual_Wear_Pack1/
/Content/CityBeachStrip/
/Content/Citizens_Pack/
/Content/GenericNPCAnimPack2/
/Content/dark-gui-main-menu-pro-kit---complete-solution--honeti/
/Content/Sample/
/Content/__ExternalActors__/Sample/
/Content/__ExternalActors__/CityBeachStrip/
/Content/*.rar

